.sidebar-container{
    width: 20rem;
    position: fixed;
    top: 4.75rem;
    bottom: 0;
    height: auto;
    box-shadow: 2px 0px 4px var(--light-100);
    z-index: 1;
    color: var(--dark-500);

}
.singlemenu-container{
    display: flex;
    align-items: center;
    gap: var(--space-m);
    padding-left: var(--space-xl);
    margin-bottom: var(--space-m);
    cursor: pointer;
}
.singlemenu-container .singlemenu-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar-menu-active{
    color: var(--primary-500);
}
.sidebar-menu-active .singlemenu-container{
    background: var(--light-300);
}
.sidebar-menu-inactive{
    background: none;
}