.plain-input-form-control{
    position: relative;
    width: auto;
}
.plain-input-form-control .plain-input-label{
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
}
.plain-input-label.right{
    right: 0.5rem;
}    
.plain-input-label.left{
    left: 0.5rem;
}