.edit-detail-form{
    margin-top: var(--space-xl);
}
.edit-detail-form .form-control .form-left{
    width: 50%;
    max-width: 20rem;
    font-size: var(--font-h5);

}
.edit-detail-form .form-control .form-right{
    width: 50%;
    max-width: 35rem;
}
.edit-detail-form .form-control{
    display: flex;
    align-items: center;
    margin: var(--space-l) 0;
}
.edit-detail-form .form-control.group-button-container{
    justify-content: flex-end;
    max-width: 55rem;

}
